# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
* @globalwarsio/review-approver
resources/lang @globalwarsio/translation-approver
resources/lang/en.json @globalwarsio/review-approver
